---
import Layout from '../layouts/Layout.astro';
---

<meta charset="utf-8">

<Layout title="Acerca de la Calculadora de Matrices">
    <div class="text-center mt-10">
        <h1 class="text-3xl font-bold text-center text-white">Información de la aplicación</h1>
        <p class="text-center text-gray-400">En desarollo...</p>
    </div>
</Layout>