---
import Layout from '../layouts/Layout.astro';
---
<meta charset="utf-8">

<Layout title="Configuración">
    <div class="text-center mt-10">
        <h1 class="text-3xl font-bold text-center text-white">Matriz Inversa</h1>
        <p class="text-center text-gray-400">Obten la inversa de una matriz.</p>
    </div>
</Layout>
<style></style>