---
import Layout from '../layouts/Layout.astro';
---

<meta charset="utf-8">

<Layout title="Transpuesta de Matrices">
    <div class="text-center mt-10">
        <h1 class="text-3xl font-bold text-center text-white">Transpuesta de Matrices</h1>
        <p class="text-center text-gray-400">Calcula la transpuesta de una matriz.</p>
    </div>
</Layout>

<style></style>