---
import SideMenuItem from './SideMenuItem.astro';

/// Iconos

import HomeIcon from '../icons/Home.astro';
import SumaIcon from '../icons/Suma.astro';
import RestaIcon from '../icons/Resta.astro';
import MultiplicacionIcon from '../icons/Multiplicacion.astro';
import DeterminanteIcon from '../icons/Determinante.astro';
import TranspuestaIcon from '../icons/Transpuesta.astro';
import InversaIcon from '../icons/Inversa.astro';
import ConfigIcon from '../icons/Config.astro';

import InfoIcon from '../icons/Info.astro';
---
<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>
            <SideMenuItem href="/">
                <HomeIcon />
                Inicio
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/suma">
                <SumaIcon />
                Suma de Matrices
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/resta">
                <RestaIcon />
                Resta de Matrices
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/multiplicacion">
                <MultiplicacionIcon />
                Multiplicacion de Matrices
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/determinante">
                <DeterminanteIcon />
                Determinante
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/transpuesta">
                <TranspuestaIcon />
                Transpuesta
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/inversa">
                <InversaIcon />
                Inversa
            </SideMenuItem>
        </ul>
    </div>

    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>
            <SideMenuItem href="/acercaDe">
                <InfoIcon />
                Acerca de
            </SideMenuItem>
        </ul>

        <ul>
            <SideMenuItem href="/configuracion">
                <ConfigIcon />
                Configuracion
            </SideMenuItem>
        </ul>
    </div>
</nav>
